In [2]:
import numpy as np

In [6]:
arr_1 = np.array([1, 2, 3, 4])
arr_2 = arr_1[:3]
arr_2[0] = 10

print (arr_2)

list_1 = [1, 2, 3, 4]
list_2 = list_1[:3]

print (list_2)

list_2[0] = 10
print(list_1, arr_1)

[10  2  3]
[1, 2, 3]
[1, 2, 3, 4] [10  2  3  4]

In [7]:
i = 1
type(i)

int

In [8]:
i = 1.2
type (i)

float

In [9]:
j = float(1)
type(j)

float

In [13]:
j = 1.6
k = str(j)
type(k)
k

'1.6'

In [14]:
print(k)

1.6

In [16]:
print(f'k tiene el valor {k}')

k tiene el valor 1.6

In [21]:
lista_1 = [1, 2, 3, 4]
lista_2 = lista_1[0::2]
print(lista_1)
print(lista_2)

[1, 2, 3, 4]
[1, 3]

In [24]:
lista_3 = lista_1 + lista_2
lista_3

[1, 2, 3, 4, 1, 3]

In [26]:
lista_3[4] = 'pepe'
print(lista_2)
print(lista_3)

[1, 3]
[1, 2, 3, 4, 'pepe', 3]

In [28]:
lista_4 = 10 * lista_3
print (lista_4)

[1, 2, 3, 4, 'pepe', 3, 1, 2, 3, 4, 'pepe', 3, 1, 2, 3, 4, 'pepe', 3, 1, 2, 3, 4, 'pepe', 3, 1, 2, 3, 4, 'pepe', 3, 1, 2, 3, 4, 'pepe', 3, 1, 2, 3, 4, 'pepe', 3, 1, 2, 3, 4, 'pepe', 3, 1, 2, 3, 4, 'pepe', 3, 1, 2, 3, 4, 'pepe', 3]

In [29]:
tupla_1 = (1, 2, 3, 4)
tupla_2 = tupla_1[:3]
print (tupla_2)

(1, 2, 3)

In [31]:
tupla_3 = 10 * tupla_1
print(tupla_3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [36]:
tupla_4 = tupla_1 + tupla_2
print(tupla_4)

(1, 2, 3, 4, 1, 2, 3)

In [37]:
lista_x = [[1,2], [3,4]]
print (lista_x)

[[1, 2], [3, 4]]

In [38]:
lista_x[0]

[1, 2]

In [40]:
lista_x[0][0]

1

In [41]:
dic_x = {'key1': [1,2], 'key2': [3,4]}

In [44]:
dic_x['key1']

[1, 2]

In [45]:
dic_x['key1'][0]

1

In [50]:
for i in lista_1:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>

In [60]:
L = [1,2,3]
M = [l*3 for l in L]
print (M)

[3, 6, 9]

In [61]:
dic_x.items()

dict_items([('key1', [1, 2]), ('key2', [3, 4])])

In [63]:
x = ['a','b',{'foo': 1,'bar':{'x' : 10,'y' : 20,'z' : 30},'baz': 3},'c','d']
x[2]['bar']['z']

30

In [64]:
'z' in x[2]

False

In [65]:
x[2]

{'foo': 1, 'bar': {'x': 10, 'y': 20, 'z': 30}, 'baz': 3}

In [66]:
'a' in x

True

In [67]:
'z' in x[2]['bar']

True

In [68]:
number=5
while number>0:
    number-=1
    print(number)

4
3
2
1
0

In [69]:
4**1/2

2.0

In [84]:
array_1 = np.array([10, 2, 3, 4])
print(array_1)

[10  2  3  4]

In [89]:
array_2 = array_1
array_2[0] = -10
print(array_1)

[-10   2   3   4]

In [90]:
array_3 = array_1[:3]
print (array_3)

[-10   2   3]

In [91]:
array_3[0]=555
print (array_1)

[555   2   3   4]

In [94]:
array_1.sort()

In [95]:
array_1

array([  2,   3,   4, 555])

In [97]:
array_4 = np.array([4, 1, 3])
array_5 = np.sort(array_4)
print(array_4)
print(array_5)

[4 1 3]
[1 3 4]

# Pregunta 5

In [102]:
pesos_alturas = np.loadtxt('c:\\Users\\a202194\\repos\\deep_learning\\intro-python\\data\\alturas-pesos.csv', dtype=str, delimiter=',')
print(pesos_alturas[:10])

[['' 'Genero' 'Peso' 'Altura']
 ['7620' 'Mujer' '61.235' '162.40200000000004']
 ['1837' 'Hombre' '97.432' '181.908']
 ['3311' 'Hombre' '73.324' '172.459']
 ['9478' 'Mujer' '55.19300000000001' '157.748']
 ['7805' 'Mujer' '56.886' '151.798']
 ['6737' 'Mujer' '59.834' '158.623']
 ['4413' 'Hombre' '77.618' '172.705']
 ['6018' 'Mujer' '68.889' '169.225']
 ['5165' 'Mujer' '53.874' '155.487']]

In [105]:
pesos_alturas.shape

(8001, 4)

# Pregunta 8

In [109]:
import pandas as pd
df = pd.read_csv ('c:\\Users\\a202194\\repos\\deep_learning\\intro-python\\data\\alturas-pesos.csv')

In [110]:
print(df[:10])

   Unnamed: 0  Genero    Peso   Altura
0        7620   Mujer  61.235  162.402
1        1837  Hombre  97.432  181.908
2        3311  Hombre  73.324  172.459
3        9478   Mujer  55.193  157.748
4        7805   Mujer  56.886  151.798
5        6737   Mujer  59.834  158.623
6        4413  Hombre  77.618  172.705
7        6018   Mujer  68.889  169.225
8        5165   Mujer  53.874  155.487
9         600  Hombre  83.248  177.908

In [112]:
print(np.array(df['Altura']))
print(np.array(df['Peso']))
print(np.array(df['Genero']))

[162.402 181.908 172.459 ... 170.91  166.137 171.575]
[61.235 97.432 73.324 ... 75.461 65.461 80.323]
['Mujer' 'Hombre' 'Hombre' ... 'Hombre' 'Mujer' 'Hombre']